# Solution-1 using python sqlite3

In [1]:
#importing required libraries
import sqlite3 as s
import csv

In [3]:
#creating the connection and creating database
connection = s.connect('.\Data Engineer - Assignment Database.db')
cur = connection.cursor()

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
#fetch all table names
tables = cur.fetchall()
for table in tables:
    table_name = table[0]
    print("Table:", table_name)   
    cur.execute("PRAGMA table_info('{}')".format(table_name))  
    #fetch all column info
    columns = cur.fetchall()
    #print column names
    for column in columns:
        print("Column:", column[1])
    print()

In [ ]:
'''extract the total quantities of each item bought per customer aged 18-35.
- For each customer, get the sum of each item
- Items with no purchase (total quantity=0) should be omitted from the final
list'''

command = '''select c.customer_id as customer,c.age as Age,i.item_name as item, sum(o.quantity) 
             from customers as c  
             join sales as s on  c.customer_id = s.customer_id 
             join orders as o on s.sales_id = o.sales_id  
             join items as i on i.item_id = o.item_id  
             where age between 18 and 35 and quantity is not null or 0  group by customer,item '''

In [ ]:
cur.execute(command)

In [ ]:

with open('./output_sql.csv', 'w', newline='') as file:
    writer = csv.writer(file, delimiter=';')
    writer.writerow(['customer_id', 'item', 'total_quantity'])
    for row in cur.fetchall():
        writer.writerow(row)

In [ ]:
#commit and close the connection
connection.commit()
connection.close()

# Solution 2 using python pandas

In [ ]:
import pandas as pd
import sqlite3 as s

connection = s.connect('.\Data Engineer - Assignment Database.db')

In [ ]:
list_of_tables = ['customers','items','sales','orders']
query_c = 'select * from customers'
query_i = 'select * from items'
query_s = 'select * from sales'
query_o = 'select * from orders'

df_customer = pd.read_sql(query_c,connection)
df_items = pd.read_sql(query_i,connection)
df_sales = pd.read_sql(query_s,connection)
df_orders = pd.read_sql(query_o,connection)

In [ ]:
df_customer.head(10)

In [ ]:
#checking the null values count from each dataframe
df_list=[df_customer,df_items,df_sales,df_orders]

for i in df_list:
    print(i.shape)

In [ ]:
#checking the null values count from each dataframe
df_list=[df_customer,df_items,df_sales,df_orders]

for i in df_list:
    print(i.isnull().sum())

In [ ]:
#count of each age number
df_customer['age'].value_counts()

In [ ]:
#total number of unique sales_id
len(df_sales['sales_id'].unique())

In [ ]:

#merge the dataframes 
merged_df = df_customer.merge(df_sales, on='customer_id').merge(df_orders, on='sales_id').merge(df_items, on='item_id')

#filter customers aged 18-35 and calculate the total quantities
result_df = merged_df[(merged_df['age'] >= 18) & (merged_df['age'] <= 35)].groupby(['customer_id','age','item_name'])['quantity'].sum().reset_index()


# remove items with total quantity of 0
result_df = result_df[result_df['quantity'] > 0]

# convert quantities to integers to remove decimal points
result_df['quantity'] = result_df['quantity'].astype(int)

print(result_df)

In [ ]:
# export result to csv with delimiter ';'
result_df.to_csv('./output_pandas.csv', sep=';', index=False)